# Data Frame

Data Frame is nothing but the multiple series which shares the same index

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(23)

In [5]:
mydata = np.random.randint(0, 101, (3,4))

In [6]:
mydata

array([[45, 12, 49, 66],
       [75, 85, 69, 64],
       [12, 21, 48, 41]])

##### creating the dataframe

In [7]:
myindex = ['usa', 'ksa', 'pak']

In [9]:
mylabel = ['feb', 'jan', 'dec', 'july']

In [10]:
mydataframe = pd.DataFrame(mydata)

here we didn't provide the index and labeled so it's default values

In [12]:
mydataframe

    0   1   2   3
0  45  12  49  66
1  75  85  69  64
2  12  21  48  41

In [13]:
mydataframe = pd.DataFrame(data=mydata, index=myindex, columns=mylabel)

here you can see the, dataframe,

In [14]:
mydataframe

     feb  jan  dec  july
usa   45   12   49    66
ksa   75   85   69    64
pak   12   21   48    41

df.info() will provide us the complete info about the dataframe

In [15]:
mydataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, usa to pak
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   feb     3 non-null      int32
 1   jan     3 non-null      int32
 2   dec     3 non-null      int32
 3   july    3 non-null      int32
dtypes: int32(4)
memory usage: 72.0+ bytes

#### Where the python code located

In [16]:
pwd

'C:\\Users\\faizr\\python-for-machine-learning-and-data-science\\pandas'

 providing us all the files located in the current directiory

In [18]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 72CC-B0AC

 Directory of C:\Users\faizr\python-for-machine-learning-and-data-science\pandas

11/13/2023  01:35 AM    <DIR>          .
11/13/2023  01:35 AM    <DIR>          ..
11/13/2023  01:09 AM    <DIR>          .ipynb_checkpoints
11/13/2023  01:35 AM             7,884 data-frame.ipynb
11/13/2023  01:21 AM            16,245 series.ipynb
               2 File(s)         24,129 bytes
               3 Dir(s)  135,171,096,576 bytes free

#### Reading the CSV file

In [19]:
df = pd.read_csv('iris.csv')

In [20]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]