# Series

First of all, import the required libraries

In [1]:
import numpy as np
import pandas as pd

help() will show us the comprehensive detailed about pandas Series

In [51]:
# help(pd.Series)

In [5]:
mydata = [12, 23, 43]

In [6]:
mylab = ['faiz', 'raza', 'ali']

In [7]:
myser = pd.Series(data = mydata)

here you can see that, our data is connverted into Series which is nothing but one dimentional array with index, we didn't
provide the labeled index, so default index is numeric

In [8]:
myser

0    12
1    23
2    43
dtype: int64

In [9]:
type(myser)

pandas.core.series.Series

In [10]:
type(mydata)

list

let's now see the Series with labeled indexing, we just have to add the labeled index, after the data inside the pd.Series()

In [11]:
myser = pd.Series(data = mydata, index = mylab)

In [12]:
myser

faiz    12
raza    23
ali     43
dtype: int64

##### Series from dict

we can also create the series using the dictionary, we just have to insert the dicct into the Seires as below

In [13]:
mydict = {'faiz':20,
         'raza': 30,
         'ali': 303}

In [14]:
myser = pd.Series(mydict)

In [15]:
myser

faiz     20
raza     30
ali     303
dtype: int64

let's do some opetations on the Series that we just learned now

In [17]:
# Creating a dictionary with some fictional data
sample_dict = {
    'name': 'John Doe',
    'age': 30,
    'city': 'Exampleville',
    'email': 'john.doe@example.com',
    'is_student': False,
    'grades': {'math': 90, 'english': 85, 'history': 78},
    'hobbies': ['reading', 'hiking', 'photography']
}
# Creating another dictionary with fictional data
another_dict = {
    'name': 'Jane Smith',
    'age': 25,
    'city': 'Wonderland',
    'email': 'jane.smith@example.com',
    'is_student': True,
    'grades': {'math': 95, 'english': 88, 'history': 92},
    'hobbies': ['painting', 'traveling', 'playing guitar'],
    'address': {
        'street': '123 Dream Street',
        'zipcode': '45678',
        'state': 'Fantasyland'
    }
}

In [21]:
sample_dict_ser = pd.Series(sample_dict)
another_dict_ser = pd.Series(another_dict)

here we can see that, the dictionary is transformed into series, using pandas

In [24]:
print(sample_dict_ser)

name                                            John Doe
age                                                   30
city                                        Exampleville
email                               john.doe@example.com
is_student                                         False
grades        {'math': 90, 'english': 85, 'history': 78}
hobbies                   [reading, hiking, photography]
dtype: object

In [23]:
another_dict_ser

name                                                 Jane Smith
age                                                          25
city                                                 Wonderland
email                                    jane.smith@example.com
is_student                                                 True
grades               {'math': 95, 'english': 88, 'history': 92}
hobbies                   [painting, traveling, playing guitar]
address       {'street': '123 Dream Street', 'zipcode': '456...
dtype: object

we can grab the info using the label as well as numeric index, let's see how to do that

In [25]:
another_dict_ser[3]

'jane.smith@example.com'

when you're using the labeled index, you have to keep in mind that, insert the correct key name of the dict to grab the value,
to see the keys, use the below code

In [28]:
keys = another_dict.keys()
keys

dict_keys(['name', 'age', 'city', 'email', 'is_student', 'grades', 'hobbies', 'address'])

In [26]:
another_dict_ser["address"]

{'street': '123 Dream Street', 'zipcode': '45678', 'state': 'Fantasyland'}

##### broadcasting

just like numpy, pandas shows us broad casting behviour, which means that it do operation on elements not like list, lets' see 
what it means, to calarify it.

In [38]:
# Creating a dictionary with numeric values
numeric_dict1 = {
    'population': 1000000,
    'area': 5000,
    'gdp': 75000000000,
    'happiness_index': 7.8,
    'unemployment_rate': 5.2
}

# Creating another dictionary with numeric values
numeric_dict2 = {
    'population': 500000,
    'area_sq_km': 2500,
    'gdp': 40000000000,
    'happiness_index': 6.5,
    'unemployment_rate': 8.3
}

In [39]:
numeric_dict1_ser = pd.Series(numeric_dict1)
numeric_dict2_ser = pd.Series(numeric_dict2)

In [40]:
numeric_dict1_ser

population           1.000000e+06
area                 5.000000e+03
gdp                  7.500000e+10
happiness_index      7.800000e+00
unemployment_rate    5.200000e+00
dtype: float64

In [41]:
numeric_dict2_ser

population           5.000000e+05
area_sq_km           2.500000e+03
gdp                  4.000000e+10
happiness_index      6.500000e+00
unemployment_rate    8.300000e+00
dtype: float64

list don't show the broad casting behaviour, this is what i mean

In [42]:
[2,1] * 2

[2, 1, 2, 1]

but pandas do

In [43]:
numeric_dict1_ser*2

population           2.000000e+06
area                 1.000000e+04
gdp                  1.500000e+11
happiness_index      1.560000e+01
unemployment_rate    1.040000e+01
dtype: float64

In [44]:
numeric_dict1_ser/1000

population           1.000000e+03
area                 5.000000e+00
gdp                  7.500000e+07
happiness_index      7.800000e-03
unemployment_rate    5.200000e-03
dtype: float64

the pandas is smart enough to do the broad casting operation, but it's not smart enough to add to different sereis with different
labels, it'll just show the NAN  value instead of actual value

In [46]:
numeric_dict1_ser + numeric_dict2_ser

area                          NaN
area_sq_km                    NaN
gdp                  1.150000e+11
happiness_index      1.430000e+01
population           1.500000e+06
unemployment_rate    1.350000e+01
dtype: float64

to overcome this , we  use the .add() method, it will help us to fill the NAN value with something else,

In [48]:
numeric_dict1_ser.add(numeric_dict2_ser, fill_value = 0)

area                 5.000000e+03
area_sq_km           2.500000e+03
gdp                  1.150000e+11
happiness_index      1.430000e+01
population           1.500000e+06
unemployment_rate    1.350000e+01
dtype: float64